<h1>Gallery#index</h1>
<p>Find me in app/views/gallery/index.html.erb</p>
<form action="<%= gallery_search_url %>" method=get>
  <div class="input-group">
    <input id="q" name="q" class=form-control placeholder="Search query..."/>
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Search</button>
    </span>
  </div><!-- /input-group -->
</form>